.footer{ /* <FooterComponent/> kısmından geldi. Bir web sayfasının alt kısmında genellikle telif hakkı bilgileri için kullanılır*/
  position: absolute;            /*footer konumunu sayfanın altına sabitler*/
  bottom: 0;                    /* footer'ı sayfanın altına hizalar*/
  width: 100%;                  /*footer'ın genişliğini sayfanın genişliği kadar yapar sayfanın tamamı kaplanır */
  height: 50px;                 /* footer'ın yüksekliği 50px olarak ayarlanır*/
  background-color: black;    /*Footer'ın arka plan rengini siyah olarak ayarlar */
  text-align: center;          /* Metni ortalar*/
  color: white;              /* Metin rengini beyaz olarak ayarlar*/
}
